
.navbar{
  height: 100px;
}
.navbar-brand{
  font-size: 25px;
  color: #ffffff !important;
}
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search{
  width: 100%;
  position: relative;
  display: flex;
  height: 40px;
}
.searchCity{
  width: 100%;
}
input[type="text"]::placeholder{
  text-align: center;
  color: black;
}
input.searchCity{
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  border: #95c8f5;
}
.searchSubmit{
  width: 18%;
  background-color: #95c8f5;
  border-radius: 10px 10px 10px 10px;
  border: #95c8f5;
  color: white;
  text-align: center;
}

.wrapBox{
  padding: 60px;
  /* margin: 40px; */
}
.box{
  justify-content: center;
  display: block;
  width: 70%;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  /* background-color: #95c8f5;
  border: #95c8f5; */
}
.boxContent{
  text-align: left;
  padding: 20px
}
h2{
  /* color: #ffffff; */
}
.cityName{
  padding-top: 20px;
  font-size: 25px;
}
.mainTemp{
  font-size: 50px;
}
.maxMin{
  font-size: 30px;
}
img{
  padding-bottom: 20px;
}
p{
  /* color: white !important; */
  text-align: left;
  font-size: 20px
}
.wrapBox{
  display: grid;
  grid-template: auto auto auto auto auto / 1fr 2fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  color: white;
}

.box{
  width: 100%;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #278ee8;
  /* text-align: center; */
}
.boxContent{
  padding-left: 70px;
  padding-top: 60px;
}
.weatherToday{
  padding-left: 70px;
}
.weatherDataList{
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid: black;
  border-bottom: 1px solid: white;
  margin: -1px 0;
  transition: 0.5s;
}

li{
  font-size: 1.0em;
  vertical-align: middle;
  margin-right: 15px;
}

table {
  border-collapse: collapse;
  width: 80%;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.info{
  text-align: right;
}
/* .weatherDataToday{
  display: grid;
  grid-template: auto auto auto auto auto / 0.3fr 1fr 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 3px;
  color: white;
} */

ul{
  font-size: 20px;
}
