/* html{
  background: #72b9f7;
} */
/* .heading{
  background: #72b9f7;
} */
.navbar{
  height: 100px;
}
.navbar-brand{
  font-size: 25px;
  color: #ffffff !important;
}
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search{
  width: 100%;
  position: relative;
  display: flex;
  height: 40px;
}
.searchCity{
  width: 100%;
}
input[type="text"]::placeholder{
  text-align: center;
  color: black;
}
input.searchCity{
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  border: #95c8f5;
}
.searchSubmit{
  width: 18%;
  background-color: #95c8f5;
  border-radius: 10px 10px 10px 10px;
  border: #95c8f5;
  color: white;
  text-align: center;
}

.wrapBox{
  padding: 60px;
  /* margin: 40px; */
}
.box{
  justify-content: center;
  display: block;
  width: 70%;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  /* background-color: #95c8f5;
  border: #95c8f5; */
}
.boxContent{
  text-align: left;
  padding: 20px
}
h2{
  /* color: #ffffff; */
}
.cityName{
  padding-top: 20px;
  font-size: 25px;
}
.mainTemp{
  font-size: 40px;
}
/* .images{

} */
img{
  padding-bottom: 20px;
}
p{
  /* color: white !important; */
  text-align: left;
  font-size: 20px
}
